body {
    font-family: 'Mosk';
}

* {
    padding: 0;
    margin: 0;
    
    color: black;
    font-size: 15pt;
}

h1 {
    font-family: 'MoskBold';
}

h2 {
    font-family: 'MoskBold';
}

canvas {
    object-fit: contain;
}